<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <!-- ユーザーの画像が表示されるように、以下のsrcに値を追加してください -->
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作成してください -->
            <%=link_to( post.user.name,"/users/#{post.user.id}" )%>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>